# Ignorar todos los archivos con extensión .log o .aux
qw_reflectante.pdf
tmp
*.synctex*
main.pdf
*.log
*.bbl
*.blg
*.aux
*.fls
*.out
*.synctex.gz
*.fdb_latexmk
*.toc
.DS_Store
.env
__pycache__/
*.pyc
QWProgramming/JA_libs/
.bbl
.blg
Chaos_Results/mainNotes.bib
*Notes.bib
